
body {
    background-color:#0f1926;
    padding: 300px;
    font-family: 'Avenir', sans-serif;
}

footer {
    background-color:#861723;
    height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    color: white;
}

a {
    color:white;
}

.footer-stuff {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.navbar-dark {
    background-color:#0f1926;
}

.navigation {
    position: fixed;
    top: 0;
}

main {
    background-color: #252f3c;
    padding-bottom: 75px;
}

.dropdown {
    background-color:#861723;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFF0;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #861723;
}

.comment-btn {
    border: none;
    border-radius: 10px;
}

.post-user {
    color:#861723;
}

.bio-intro {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-header {
    background-color: #861723;
    width: 100%;
    text-align: center;
}

.acnt-posts{
    background-color: #FFFFF0;
    color:black;
    padding: 40px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 25px;
}

.page-title {
    font-weight: bolder;
    padding: 25px;
}

.login-btn {
    border-radius: 10px;
    border: none;
    padding:5px;
    width:100%;
    background-color: #861723;
    color: white;
    margin-top: 10px;
}