<div class="heading-text-container">
        <h2>ABOUT</h2>
    </div>
    <p class="about-page-text">
        Hey angry person!
        </br>
        </br>
        This is Axe Grinder. A daycare for angry music fans with a passion for controversial, unhinged music opinions.
        When we came up with the idea for axegrinder.com, it was with the goal to offer the very best outlet to angry music fans that lack access to therapy and psychiatric evaluation like yourself.</br></br> 
        If you are like us, then you love hating on peoples thoughts and opinions. So all you keyboard warriors with your awful opinions no one asked for and questionable music taste can finally unleash the hate that festers inside you to some poor, unsuspecting soul somewhere in the world.</br></br>

        Get ready to cry and scream, cause we know you have something to say about someone in the business.</br></br> 

        Let it out and suffer the consequences.
    </p>